/*Colmar Academy is a tutorial webpage
describing a landing page for a
technical school, built to specifications
provided by Codecademy per the
Web Programming course*/

/*fonts*/
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngRUXZYTXPIvIBgJJSb6u92w7CGwR0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*-----------------*/
/*universal styling*/
/*-----------------*/
h1, h2, h3, h4, h5, h6 {
  font-family:'Ubuntu', sans-serif;
}

p, span, a {
  font-family:'Roboto Slab';
  font-style:normal;
  font-weight:normal;
  word-spacing:0.1rem;
}

.container {
  display:flex;
  max-width:100%;
  overflow:hidden;
}

.item-1 {
  max-width:60%;
  height:100%;
}

.image-container {
  overflow:hidden;
  height:auto;
}

.image-container img {
  max-width:100%;
  height:auto;
  display:block;
}

.video-container {
  max-width:100%;
  overflow:hidden;
}

video {
  max-width:100%;
  height:auto;
  display:block;
}

.color-1 {
  background-color:#EDF3F9;
  color:#0D1433;
}

.color-2 {
  background-color:#D7E0CA;
  color:#1C280A;
}

.color-3 {
  background-color:#8E2F3A;
  color:#FFE4DB;
}

.spacer {
  flex-grow:1;
  flex-shrink:1;
}

.col {
  flex-direction:column;
}

body {
  margin:0;
}

/*-----------------*/
/*header styling---*/
/*-----------------*/
header {
  position:fixed;
  height:64px;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

header .container {
  display:inline-flex;
  overflow:auto;
  height:64px;
  width:100%;
  padding:0 24px;
  align-items:center;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.logo {
  float:left;
}

.logo .image-container {
  height:32px;
  width:auto;
}

.header-title {
  font-size:1.5rem;
  bottom:4px;
  position:relative;
}

.title-dark {
  font-weight:bold;
}

.pc-menu {
  display:inline-block;
  float:right;
  padding-right:1.5rem;
}


.pc-menu ul {
  display:flex;
  list-style-type:none;

}

.pc-menu ul li {
  margin-right:16px;
}

.mobile-menu {
  display:none;
}

/*tablet styling for header*/
@media only screen and (max-width:1024px)
{
  header {
    font-size:0.75rem;
  }

  .header-title {
    font-size:0.9rem;
    bottom:0;
  }

  header ul {
    -webkit-padding-start:10px;
  }
  header .container {
    padding: 0 12px;
  }

  .pc-menu {
    padding-right:0.75rem;
  }

  header .image-container {
    height:24px;
  }
}

/*mobile styling for header*/
@media only screen and (max-width:510px) {
  .pc-menu {
    display:none;
  }

  header .container {
    padding:0;
    justify-content:space-around;
  }

  header .spacer {
    display:none;
  }

  .logo {
    display:none;
  }

  .header-title {
    display:none;
  }

  .mobile-menu {
    display:flex;
    justify-content:space-around;
    float:none;
    width:100%;

  }

  .mobile-menu ul {
    display:flex;
    list-style-type:none;
    width:100%;
    justify-content:space-around;
  }
}

/*-----------------*/
/*feature styling--*/
/*-----------------*/
.feature {
  padding-top:88px;
  margin:0;
  align-items:center;
}

.feature .image-container {
  max-width:60%;
  height:auto;
  padding:32px 24px;
}

.feature-content {
  flex-direction:column;
  justify-content:space-between;
  height:80%;
  padding: 1.5rem 1rem;
  max-width:40%;
}

.feature-content h2, .feature-content h2, .feature-content .button {
  margin-top:6%;
  margin-bottom:6%;
}

.feature h2 {
  font-weight:bold;
  font-size:2rem;
}

.feature .button {
  padding:8px 0px;
  text-align:center;
  width:11rem;
  align-self:flex-start;
}

/*tablet styling for feature section*/
@media only screen and (max-width:1024px) {
  .feature .image-container {
    max-width:50%;
    padding:16px 18px;
  }

  .feature-content {
    max-width:50%;
    padding:1rem 0.8rem;
  }

  .feature-content h2 {
    font-size:1.25rem;
  }
}

/*mobile styling for feature section*/
@media only screen and (max-width: 510px) {
  .feature {
    flex-direction:column;

  }

  .feature .image-container {
    max-width:100%;
    padding:0 1px;
    margin:0;
  }

  .feature-content {
    max-width:100%;
    padding:32px 16px;
  }

  .feature-content h2 {
    padding-bottom:32px;
    font-size:1.5rem;
  }

  .feature-content h4 {
    padding-bottom: 24px;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight:normal;
  }

  .feature .button {
    width:100%;
  }
}

/*-----------------*/
/*news styling-----*/
/*-----------------*/
.news {
  flex-wrap:wrap;
  flex-direction:row;
  padding:0.5rem;

}

.news h2, .news h4 {
  font-weight:bold;
}

.news h2 {
  font-size:1.5rem;
}

.news h4 {
  font-size:1.1rem;
}

.news-item {
  transition: color 140ms ease-in 70ms,
  background-color 140ms ease-in 70ms;
}


.news-item:hover {

  background-color:#D7E0CA;
  color:#1C280A;
}


.news .item-1 {
  height:100%;
  width:calc(60% - 24px);
  border-right: 2px solid rgba(186,204,108,.4);
  padding-right: 1.5rem;
  flex-direction:column;
}

.item-1 .copy, .item-1 .byline {
  padding-top: 0.5rem;
}

.item-1 .preview-pic, .item-1 .byline {
  padding-bottom:32px;
}

.item-1 .copy {
  margin-bottom:16px;
}

.copy {
  max-width: 100%;
  overflow:wrap;
}

.item-1 .title {
  padding-top:6%;
}

.news .item-2, .news .item-3, .news .item-4 {
  font-size: 0.8rem;
  /*height:auto;*/
  padding-bottom:0.5rem;
  border-bottom: 2px solid rgba(186,204,108,.4);
  border-collapse:separate;
}

.preview-pic {
  max-width:35%;
  height:auto;
  justify-content:center;
  padding:0.5rem;
}

.preview-pic img {
  max-width:100%;
}

.news .col {
  width:calc(40% - 48px);
  margin-left:24px;
}

.news-item .col2 {
  width:60%;
  flex-direction:column;
  justify-content:space-around;
}

.archive {
  align-self:center;
  text-align:center;
  padding-top:1.5rem;
}

.image-container .mobile {
  display:none;
}

/*tablet styling for news section*/
@media only screen and (max-width:1024px) {
  .news .item-1 {
    width:calc(50% - 24px);
    padding-right:0.75rem;
  }

  .news .col {
    width:calc(50% - 48px);
  }

  .news .item-1 .title {
    font-size:1rem;
  }
}

/*mobile styling for news section*/
@media only screen and (max-width:510px) {
    .news {
      padding-top:16px;
      padding-left:16px;
      padding-right:16px;
    }

    .news .item-1 {
      display:none;
    }

    .news .item-2, .news .item-3, .news .item-4 {
      margin-bottom:32px;
    }

    .news-item {
      margin-bottom:32px;
      flex-direction:column;
    }

    .preview-pic {
      max-width:100%;
      width:100%;
      width:100%;
      padding:0;
    }

    .image-container .desktop {
      display:none;
    }

    .image-container .mobile {
      display:block;
    }

    .copy {
      line-height:1.1rem;
    }

    .copy, .news-link {
      margin-top:1.5rem;
      -webkit-margin-before:4%;
    }

    .title {
      margin-top:2rem;
      -webkit-margin-before:8%;
    }

    .news-item .col2 {
      padding-left:16px;
      width:100%;
    }

    .news .item-4 {
      margin-bottom:32px;
    }

    .news .col {
      width:100%;
      margin-left:0;
    }

    .archive {
      padding-bottom:16px;
    }
}

/*-----------------*/
/*degree fields section*/
/*-----------------*/
.degree-field-list {
    flex-direction:column;
    justify-content:center;
}

.degree-fields {
  flex-wrap:wrap;
  margin:32px 72px;
}

.degree-field-list h2 {
  width:100%;
  font-size:1.5rem;
  text-align:center;
  font-weight:bold;
  margin-top:32px;
}

.degree-program {
  flex-direction:column;
  max-width:25%;
  margin:16px;
}

.degree-text {
  margin-left:16px;
  margin-top:16px;
  margin-bottom:24px;

}

.degree-text p {
  margin-top:8px;
  margin-bottom:8px;
}

.degree-text h4 {
  font-weight:bold;
  font-size:1.1rem;
}

.degree-icon {
  display:none;
}

/*tablet styling for degree fields section*/
@media only screen and (max-width:1024px) {
  .degree-program {
    max-width:calc(50% - 48px);
    margin:24px;

  }

  .degree-field-list h2 {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    margin-top:32px;
  }

  .degree-text {
    margin-left:12px;
    margin-top:12px;
    margin-bottom:16px;
  }

  .degree-text p, .degree-text span {
    display:none;
  }


}

/*mobile styling for degree fields section*/
@media only screen and (max-width:510px) {
  .degree-pic {
    display:none;
  }

  .degree-fields {
    margin:16px;
  }

  .degree-program {
    max-width:100%;
    width:100%;
    margin:0;
    margin-bottom:8px;

  }

  .degree-text {
    display:flex;
    justify-content:space-between;
    margin-top:16px;
    margin-left:16px;
    margin-bottom:24px;
  }

  .degree-icon {
    display:inline-block;
    padding-right:4%;
  }

  .degree-field-list h4 {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight:normal;
  }
}
/*----------------------*/
/*Thesis exhibit section*/
/*----------------------*/
.exhibition {
  flex-wrap:wrap;
  padding-bottom:32px;
  width:100%;
  justify-content:center;
}

.exhibition .item-1 h4 {
  margin-top:24px;
}

.exhibition .col {
  max-width:calc(40% - 24px);
  padding-left:24px;

}

.exhibition h2 {
  width:100%;
  text-align:center;
  font-size:1.5rem;
  font-weight:bold;
  padding: 32px 0;
}

.ex-text h4, .ex-text span {
  margin:0;
  margin-bottom:8px;
}

.exhibit .col {
  justify-content:center;
}

.exhibit {
  height:auto;
}

.exhibition .item-1 {
  height:100%;
  padding-left:24px;
  padding-right:24px;
  max-width:calc(60% - 48px);
}


.exhibit .item-2, .exhibit .item-3 {
  max-width:100%;
}

.exhibit h4 {
  width:100%;
  margin-bottom:8px;
  font-weight:bold;
}

.thesis-img {
  max-width:35%;
  height:auto;
  margin:16px;
}

.exhibit .col {
  max-width:calc(65% - 24px);
}

/*tablet styling for exhibition section*/
@media only screen and (max-width:1024px) {
  .exhibition .item-1 {
    max-width:calc(50% - 48px);
  }

  .exhibition .col {
    max-width:calc(50% - 24px);
  }
}

/*mobile styling for exhibition section*/
@media only screen and (max-width:510px) {
  .exhibition .col {
    display:none;
  }

  .exhibition .item-1 {
    max-width:100%;
    width:100%;
    padding:0 2px;
    margin-top:16px;
    padding-bottom:24px;
  }

  .exhibit h4, .exhibit span {
    display:none;
  }

  .exhibition h2 {
    padding-top:32px;
    font-weight:bold;
  }

  .exhibition .video-container {
    width:100%;
  }
}

/*-----------------*/
/*footer styling---*/
/*-----------------*/
footer {
  border-top: 2px solid rgba(186,204,108,.4);
}

footer .container {
  max-width:100%;
  padding-top:16px;
  padding-left:24px;
  padding-bottom:32px;
  align-items:baseline;
}

footer ul {
  display:flex;
  justify-content:flex-start;
  list-style-type:none;

}

footer li {
  margin-right:16px;
}

/*mobile styling for footer*/
@media only screen and (max-width:510px) {
  footer {
    border-top:none;
  }

  footer .container {
    padding-left:16px;
    padding-bottom:16px;
  }

  footer ul, footer li {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    -webkit-padding-start:10px;
  }

  footer li {
    -webkit-margin-after:1em;
  }
}
