/*Colmar Academy is a tutorial webpage
describing a landing page for a
technical school, built to specifications
provided by Codecademy per the
Web Programming course*/

/*universal styling*/

.container {
  display:flex;
  max-width:100%;
  overflow:hidden;

}

.item-1 {
  max-width:60%;
  height:100%;
}

.item-2, .item-3, .item-4 {
  /*width:40%;*/
}

.image-container {
  overflow:hidden;
  height:auto;
}

.image-container img {
  max-width:100%;
  height:auto;
}

.video-container {
  max-width:100%;
  overflow:hidden;

}

video {
  max-width:100%;
  height:auto;
  display:block;
}

.color-1 {
  background-color:#EDF3F9;
  color:#0D1433;
}

.color-2 {
  background-color:#D7E0CA;
  color:#1C280A;
}

.color-3 {
  background-color:#8E2F3A;
  color:#FFE4DB;
}

.spacer {
  flex-grow:1;
}

.col {
  flex-direction:column;
}

body {
  margin:0;
}

video {
  width:inherit;
  height:auto;
  object-fit:cover;
}

/*header styling*/
header {
  position:fixed;
  height:64px;
  width:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

header .container {
  display:inline-flex;
  overflow:auto;
  height:64px;
  width:100%;
  padding:0 24px;
  align-items:center;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.logo {
  float:left;
}

.logo .image-container {
  height:32px;
  width:auto;
}

.header-title {
  font-size:1.5rem;
  bottom:4px;
  position:relative;
}

.title-dark {
  font-weight:bold;
}

.pc-menu {
  display:inline-block;
  float:right;
  padding-right:1.5rem;
}


.pc-menu ul {
  display:flex;
  list-style-type:none;

}

.pc-menu ul li {
  margin-right:16px;
}

/*feature styling*/
.feature {
  padding-top:88px;
  margin:0;
  align-items:center;

}

.feature .image-container {
  max-width:60%;
  height:auto;
  padding:32px 24px;
}

.feature-content {
  flex-direction:column;
  justify-content:flex-start;
  padding: 10% 8%;
  max-width:40%;
}

.feature .button {
  padding:8px 0px;
  text-align:center;
  width:11rem;
  align-self:flex-start;
}

/*news styling*/

.news {
  flex-wrap:wrap;
  flex-direction:row;
  /*max-height:37rem;*/
  padding:0.5rem;

}

.news-item {
  transition: color 140ms ease-in 70ms,
  background-color 140ms ease-in 70ms;
}


.news-item:hover {

  background-color:#D7E0CA;
  color:#1C280A;
}


.news .item-1 {
  height:29.5rem;
  width:calc(60% - 24px);
  border-right: 2px solid rgba(186,204,108,.4);
  padding-right: 1.5rem;
  flex-direction:column;
}


.item-1 .copy, .item-1 .byline {
  padding-top: 0.5rem;
}

.item-1 .preview-pic, .item-1 .byline {
  padding-bottom:32px;
}

.item-1 .copy {
  margin-bottom:16px;
}

.copy {
  flex-grow:1;
  max-width: 100%;
  overflow:wrap;
}

.title, .byline {
  /*flex-shrink:1;*/
}


.news .item-2, .news .item-3, .news .item-4 {
  font-size: 0.8rem;
  height:7rem;

  /*flex-direction:column;*/
  /*flex-wrap:wrap;*/

  /*justify-content:space-around;*/

  padding-bottom:0.5rem;
  border-bottom: 2px solid rgba(186,204,108,.4);
  border-collapse:separate;

}

.preview-pic {
  max-width:35%;
  height:auto;
  justify-content:center;

  padding:0.5rem;

}

.preview-pic img {
  max-width:100%;
}

/*.news .item-1 {
  flex-direction:column;
}*/
/*
.item-2 .copy, .item-3 .copy, .item-4 .copy {
  width:inherit;

}*/

.news .col {
  width:calc(40% - 48px);
  margin-left:24px;
}

.news-item .col2 {
  width:60%;
  flex-direction:column;
}

.archive {
  align-self:center;
  text-align:center;
  padding-top:0.5rem;
}

/*degree fields section*/

.degree-field-list {
    flex-direction:column;
    justify-content:center;
}

.degree-fields {
  flex-wrap:wrap;
  margin:32px 72px;
}

.degree-field-list h2 {
  width:100%;
  text-align:center;

  margin-top:32px;
}

.degree-program {
  flex-direction:column;
  max-width:25%;
  margin:32px;
}

.degree-text {
  margin-left:16px;
  margin-top:16px;
  margin-bottom:24px;
}

.degree-text p, .degree-text span {
  margin-top:8px;
}

.degree-program h4 {
  font-style:bold;
}


/*Thesis exhibit section*/
.exhibition {
  flex-wrap:wrap;
  padding-bottom:32px;
}

.exhibition .col {
  max-width:calc(40% - 24px);
  padding-left:24px;

}

.exhibition h2 {
  width:100%;
  text-align:center;

}

.ex-text h4, .ex-text span {
  margin:0;
  margin-bottom:8px;
}

.exhibit .col {
  justify-content:center;
}

.exhibition .item-1 {
  height:100%;
  padding-left:24px;
  padding-right:24px;
  max-width:calc(60% - 48px);
}


.exhibit .item-2, .exhibit .item-3 {
  max-width:100%;
}

.exhibit h4 {
  width:100%;
  margin-bottom:8px;
}

.thesis-img {
  max-width:35%;
  height:auto;
}

/*footer styling*/
footer {
  border-top: 2px solid rgba(186,204,108,.4);
}

footer .container {
  max-width:100%;
  padding-top:16px;
  padding-left:24px;
  padding-bottom:32px;
}
